<launch>
    <!-- arg to run ariac_entry_node -->
    <arg name = "ariac_entry" defualt = "false"/>
    <node name = "ik_service" pkg = "ik_service" type = "ik_service_node"/>
    <include file = "$(find ecse_373_ariac)/launch/ecse_373_ariac.launch" />
    <node if = "$(arg ariac_entry)" name = "ariac_entry" pkg = "ariac_entry" type = "ariac_entry"/>

</launch>
